html {
    font-family: 'Ubuntu', sans-serif;
}

#content {
    background: url(img/technology-785742_960_720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav nav nav" "name name name" "name name name" "name name name" "name name name" "skills skills skills" "skills skills skills" "skills skills skills" "skills skills skills" "knowledge knowledge knowledge" "knowledge knowledge knowledge" "knowledge knowledge knowledge" "knowledge knowledge knowledge" "knowledge knowledge knowledge";
}

nav {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: nav;
    grid-template-areas: "nav_me nav_media";
}

a {
    margin: 4px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.nav_about_me {
    justify-self: start;
    align-self: center;
    grid-area: nav_me;
}

.nav_social_media {
    justify-self: end;
    align-self: center;
    grid-area: nav_media;
}

.name {
    
    grid-area: name;
    text-align: center;
    color: #ffffff;
    justify-self: center;
    align-self: center;
}

.name h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.name legend {
    font-size: 30px;
}

.skills {
    grid-area: skills;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "skills1 skills2" "skills1 skills2" "skills1 skills2";
    background-color: #ffffff;
    font-size: 30px;
}

.skills1 {
    grid-area: skills1;
    justify-self: center;
    align-self: center;
}

.skills2 {
    grid-area: skills2;
    justify-self: center;
    align-self: center;
}

.knowledge {
    padding: 20px;
    grid-area: knowledge;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "knowledge_title knowledge_title" "knowledge1 knowledge2" "knowledge1 knowledge2";
    color: #ffffff;
    font-size: 30px;
    background-color: #000;
}

.knowledge1 {
    padding: 10px;
    grid-area: knowledge1;
    margin: 10px;
    align-self: start;
    justify-self: start;
}

.knowledge2 {
    padding: 10px;
    grid-area: knowledge2;
    align-self: start;
    justify-self: start;
}

.knowledge_title {
    margin: 20px;
    grid-area: knowledge_title;
    align-self: center;
    justify-self: center;
}

@media(max-width:426px) {
    .skills {
        text-align: center;
        grid-area: skills;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "skills1"
        "skills2";
        background-color: #ffffff;
        font-size: 30px;
    }
    .skills1 {
        grid-area: skills1;
        justify-self: center;
        align-self: center;
    }
    .skills2 {
        grid-area: skills2;
        justify-self: 
        center;
        align-self: start;
    }
    #container {
        padding: 50px;
    }
    .knowledge {
        padding: 20px;
        grid-area: knowledge;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "knowledge_title" "knowledge1" "knowledge2";
        color: #ffffff;
        font-size: 30px;
        background-color: #000;
    }
    .knowledge1 {
        grid-area: knowledge1;
        align-self: start;
        justify-self: start;
    }
    .knowledge2 {
        grid-area: knowledge2;
        align-self: start;
        justify-self: start;
    }
    .knowledge_title {
        grid-area: knowledge_title;
        align-self: center;
        justify-self: center;
    }
}